<h1>Stories</h1>

<%= link_to "New Story", new_story_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% @stories.each do |story| -%>
  <tr>
    <td><%= story.title %></td>
    <td><%= story.description %></td>
  </tr>
  <% end -%>
</table>